[submodule "android"]
	path = android
	url = https://github.com/debdutsahaangel/test-app-android.git
[submodule "reactNative"]
	path = reactNative
	url = https://github.com/debdutsahaangel/test-app-react-native
